
@{
    ViewBag.Title = "ListGroup";
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}

<div class="container mt-3">
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action">最新消息<span class="badge badge-danger">9</span></a>
        <a href="#" class="list-group-item list-group-item-action list-group-item-warning">新書搶先</a>
        <a href="#" class="list-group-item list-group-item-action list-group-item-danger">本周精選</a>
        <a href="#" class="list-group-item list-group-item-action">讀者服務</a>
    </div>
</div>

