
@{
    ViewBag.Title = "NavBarTest";
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}

<div class="container-fluid">
    <ul class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="@Url.Action("Index","Home")">首頁</a>
        </li>
        <li class="breadcrumb-item">
            <a href="#">導覽Bar</a>
        </li>
        <li class="breadcrumb-item">
            <a href="#">購買書籍</a>
        </li>
    </ul>
</div>

<!-- 大螢幕廣告 -->
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1>This is a book</h1>
        <p>this a book,that is a book</p>
        <hr class="my-4" />
        <a href="#" class="btn btn-primary">連結</a>
    </div>
</div>

<h3 class="text-center">課程</h3>

<div class="container">

    <div class="row">
        <div class="col-md-4">
            <div class="card-group">
                <div class="card">

                    <div class="card-header bg-info text-white">
                        <h4>跟著實務學習ASP.NET MVC</h4>
                    </div>
                    <div class="card-body p-0">
                        <p>
                            <img src="~/images/book01.png" class="card-img-top img-fluid" />
                        </p>
                        <div class="m-3">
                            <p>易教：撰寫書籍同時進行試教，去蕪存菁符合教學需求，讓教師好備課。</p>
                        </div>

                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary">購買</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card-group">
                <div class="card">

                    <div class="card-header bg-info text-white">
                        <h4>跟著實務學習ASP.NET MVC</h4>
                    </div>
                    <div class="card-body p-0">
                        <p>
                            <img src="~/images/book01.png" class="card-img-top img-fluid" />
                        </p>
                        <div class="m-3">
                            <p>易教：撰寫書籍同時進行試教，去蕪存菁符合教學需求，讓教師好備課。</p>
                        </div>

                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary">購買</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card-group">
                <div class="card">

                    <div class="card-header bg-info text-white">
                        <h4>跟著實務學習ASP.NET MVC</h4>
                    </div>
                    <div class="card-body p-0">
                        <p>
                            <img src="~/images/book01.png" class="card-img-top img-fluid" />
                        </p>
                        <div class="m-3">
                            <p>易教：撰寫書籍同時進行試教，去蕪存菁符合教學需求，讓教師好備課。</p>
                        </div>

                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary">購買</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>